{% extends 'base.html.twig' %}

{# Bloque para definir las etiquetas meta #}
{% block extrameta%}
    <meta name="description" content="delocaleo.com - Articulos interesantes de tematica variada.
     Humor, Curiosidades Reflexion. Aportes. Comparte aquello que veas interensante con la comunidad." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% endblock %}

{# Bloque hojas de estilos por defecto #}
{% block stylesheets %}
    <link href="http://allfont.es/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}"/>
{% endblock %}

{# Bloque body por defecto #}
{% block body %}
    <div class="contenedor-body">
        <div class="contenedor-para-sticky">
            {% include 'template/header.html.twig' %}
            {% block content %}{% endblock %}
        </div>
        {% include 'template/footer.html.twig' %}
    </div>
{% endblock %}

{# Bloque para los scripts#}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/muestraOcultaNavegacion.js') }}"></script>
    {% block extrajs %}{% endblock %}
{% endblock %}