<aside>
    <div class="contenedor-aside">
        <div class="rrss">
            <h4>¡Síguenos!</h4>
            <figure class="imagenes-rrss">
                <a href="https://www.facebook.com/DeLocaleo-1869409416606542/?fref=ts"><img src="{{ asset('img/icons/facebook.png') }}" alt="facebook"></a>
                <a href="https://twitter.com/delocaleo"><img src="{{ asset('img/icons/twitter.png') }}" alt="twitter"></a>
                <a href="https://delocaleo.tumblr.com/"><img src="{{ asset('img/icons/tumblr.png') }}" alt="tumblr"></a>
            </figure>
        </div>
        <div class="contenedor-buscar">
            <form class="formulario-buscar" method="post" action="{{ path('view_result_search') }}">
                <input type="text" name="buscar" max="80" placeholder="Buscar Posts" required>
                <label for="titulo">titulo</label>
                <input type="checkbox" name="titulo" value="titulo" checked>
                <label for="tags">tags</label>
                <input type="checkbox" name="tags" value="tags">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
</aside>