.contenedor-seccion{
	width: 95%;
}

.post{
	width: 100%;
	min-height: 100%;
	padding: 30px;
	border: 3px solid;
	box-sizing: border-box;
	border-radius: 30px;
}

.tematica{
	margin-bottom: 20px;
	font-size: 20px;
}

.post h3{
	margin-bottom: 30px;
	font-size: 30px;
}

.imagen-post{
	width: 100%;
	margin-bottom: 30px;
}

.descripcion-post{
	margin-bottom: 30px;
	font-size: 18px;
}

.descripcion-post p{
	margin-bottom: 30px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
}

.descripcion-post p img{
	width: 100%;
}

.tags{
	width: 50%;
	display: inline-block;
}

.tags span{
	margin-right: 10px;
	display: inline-block;
	font-size: 14px;
}

.fecha{
	width: 45%;
	margin-right: 0;
	display: inline-block;
	text-align: right;
	font-size: 16px;
}

.botones-para-compartir{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}


.botones-para-compartir a:nth-child(3){
	margin-left: 5px;
	margin-right: 5px;
}

.botones-para-compartir a img{
	width: 50px;
	height: auto;
	padding: 5px;
	transition: .1s;
}

.botones-para-compartir a:hover img{
	padding: 0;
	width: 60px;
}


/* Login usuario */
.modal-login{
	display: none; /* Se cambia a flex cuando se hace click sobre el boton de logueo */
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(109,103,103,.7);
}

.contenedor-formulario-login{
	width: 50%;
	padding: 50px;
	border: 3px solid #000;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
}

.contenedor-formulario-login div:not(.item-cerrar-modal){
	display: block;
	text-align: center;
}

.item-cerrar-modal{
	width: 100%;
	text-align: right;
}

.item-cerrar-modal img{
	width: 30px;
	padding: 5px;
	transition: .1s;
}

.item-cerrar-modal img:hover{
	width: 40px;
	padding: 0;
}

.contenedor-formulario-login h3{
	font-size: 24px;
	margin-bottom: 30px;
}

.contenedor-formulario-login p{
	color: red;
}

.contenedor-formulario-login label{
	margin: 10px;
	display: block;
	font-size: 22px;
}

#labelMostrarClave{
	display: inline;
}

.contenedor-formulario-login input[type="text"], .contenedor-formulario-login input[type="password"]{
	width: 300px;
	margin: auto;
	margin-bottom: 30px;
	display: block;
	font-size: 20px;
	border: 3px solid #6d6767;
}

.contenedor-formulario-login input:focus{
	border: 3px solid #13f0aa;
}

.contenedor-formulario-login input[type="submit"], button{
	height: 40px;
	padding: 0 10px;
	margin: 30px auto;
	border: 2px solid #050505;
	border-radius: 3px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
}

input:focus{
	border: 3px solid #13f0aa;
}


/* Comentarios */
.contenedor-comentarios{	
	width: 95%;
	min-height: 100%;
	padding: 30px;
	margin-top: 30px;
	border: 3px solid;
	box-sizing: border-box;
	border-radius: 30px;
	background-color: #DFDCE3;
}

.nuevo-comentario{
	margin-bottom: 30px;
}

.contenedor-login{
	padding: 30px;
	margin: 0 0 50px 0;
	text-align: center;
	border-bottom: 3px solid #000;
}

.contenedor-login h3{
	font-size: 24px;
}

.contenedor-login div{
	margin: 20px 0 0 0;
}

.contenedor-cabecera-comentarios{
	text-align: center;
	margin-bottom: 30px;
}

.contenedor-cabecera-comentarios h3{
	font-size: 24px;
}

.comentario{
	margin-bottom: 15px;
	padding: 30px;
	border-radius: 15px;
	background-color:#F4F4F4;
}

.cabecera-comentario{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 15px;
}

.datos-usuario{
	display: flex;
	direction: row;
}

.contenedor-imagen-usuario{
	display: inline-block;
	position: relative;
	margin-right: 15px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
}

.contenedor-imagen-usuario img{
	width: auto;
	height: 100%;
	margin-left: -12.5px;
}

.contenedor-nombre-usuario p{
	display: inline-block;
	line-height: 50px;
}

.contenedor-fecha-comentario date{
	line-height: 50px;
}

.contenedor-comentario-usuario p{
	width: 90%;
	padding-left: 30px;
}

.nuevo-comentario{
	display: flex;
	flex-direction: row;
}

.contenedor-formulario{
	width: 70%;
	margin-top: 15px;
}

.contenedor-formulario textarea{
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
    border: 3px solid #6d6767;
}

.contenedor-formulario textarea:focus{
	border: 3px solid #13f0aa;
}

.contenedor-botones-comentario{
	display: flex;
	align-items: center;
	margin: 30px 0 50px 65px;
}

.contenedor-no-comentarios{
	padding: 10px 0 30px 0;
}

.contenedor-no-comentarios p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #13f0aa;
}


/* Navegacion Posts */

.nav-posts{
	width: 220px;
	height: 50px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 50px;
	position: relative;
	border: 3px solid #000;
	border-radius: 5px;
}

.contenedor-nav-posts{
	width: 100%;
	padding-top: 14px;
	padding-bottom: 10px;
	text-align: center;
}

.contenedor-nav-posts p, .contenedor-nav-posts span{
	display: inline-block;
}

.anterior img{
	width: 30px;
	margin-right: 5px;
	cursor: pointer;

}

.contenedor-nav-posts p{
	color: #a3a3a3;
}

.separador{
	margin-left: 10px;
	margin-right: 10px;
}

.siguiente img{
	width: 30px;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
}



/* Clases para Javascript */
	.ocultar{
		display: none;
	}

	.mostrar{
		display: block;
	}

	.bordeazul{
		border: 3px solid #2fa1dc;
	}

	.bordeamarillo{
		border: 3px solid #fae75a;
	}

	.bordemorado{
		border: 3px solid #5a428e;
	}

	.borderojo{
		border: 3px solid #ff1e00;
	}

	.colorazul{
		color: #2fa1dc;
	}

	.coloramarillo{
		color: #fae75a;
	}

	.colormorado{
		color: #5a428e;
	}

	.colorrojo{
		color: #ff1e00;
	}




/* --------------- Media Queries ------------------ */

@media screen and (max-width: 770px){
	
	.contenedor-seccion{
		width: 93%;
	}
	
	.fecha{
		font-size: 14px;
	}
	
}


@media screen and (max-width: 675px){
	
	input[type="checkbox"]{
		margin-right: 5px;
	}
	
}


@media screen and (max-width: 650px){
	
	.contenedor-seccion{
		width: 100%;
		margin-bottom: 20px;
	}

	.rrss, .contenedor-buscar{
		margin-bottom: 0;
	}
}


@media screen and (max-width: 480px){
	
	.botones-para-compartir{
		margin-top: 30px;
		display: block;
	}
	
	.botones-para-compartir h4{
		display: block;
		margin-bottom: 10px;
	}
	
	.botones-para-compartir a{
		display: inline-block;
		padding: 0;
	}
	
	.botones-para-compartir a img{
		padding: 0;
	}
	
}


@media screen and (max-width: 425px){
	
	.contenedor-seccion{
		width: 100%;
	}
	
	.post{
		width: 100%;
	}
	
	.descripcion-post p{
		margin-bottom: 15px;
	}
	
}

@media screen and (max-width: 380px){
	
	.post{
		padding: 20px;
	}
	
}