<nav class="nav-posts">
    <div class="contenedor-nav-posts">
        {% if slugAnterior != null %}
            <a href="{{ slugAnterior }}">
                <span class="anterior">
                    <img src="{{ asset('img/icons/flecha-anterior.png') }}" alt="pagina-anterior">
                </span>
            </a>
            <p class="ant">Ant.</p>
        {% endif %}
        {% if slugAnterior != null and slugPosterior != null %}
            <span class="separador">|</span>
        {% endif %}
        {% if slugPosterior != null %}
            <a href="{{ slugPosterior }}">
                <p class="sig">Sig.</p>
                <span class="siguiente">
                    <img src="{{ asset('img/icons/flecha-siguiente.png') }}" alt="pagina-siguiente">
                </span>
            </a>
        {% endif %}
    </div>
</nav>