<footer>
    <div class="contenedor-footer">
        <div class="logo-footer">
            <figure>
                <img src="{{ asset('img/icons/logo.png') }}" alt="logo-footer" />
            </figure>
            <date>2019</date>
        </div>
        <div class="lista">
            <ul class="lista-footer">
                <li class="item">blog</li>
                <li class="item">actualidad</li>
                <li class="item">noticias</li>
                <li class="item">opinión</li>
                <li class="item">reflexión</li>
                <li class="item">humor</li>
            </ul>
        </div>
        <div class="colaboraciones">
            <p>Acceso <a href="{{ path('admin_view') }}">Administrador</a></p>
        </div>
    </div>
</footer>